@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: red;
  overflow-x: hidden;
  min-height: 100vh;
}

.contactBG {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background-position: top;
  background-image: url('../public/contactBG.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.textGradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#ff0000 50%, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:760px) {
  .textGradient {
    font-size: 32px;
    background: -webkit-linear-gradient(#ff0000 60%, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contactBG {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: top;
    background-image: url('../public/contactBGMobile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Hide the play button */
video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}