@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: red;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeBG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/videos/home.mp4');
  background-size: contain;
  background-repeat: no-repeat;
}

.textGradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#ff0000 50%, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:760px) {
  .homeBG {
    background-image: none;
  }

  .textGradient {
    font-size: 32px;
    background: -webkit-linear-gradient(#ff0000 60%, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}